*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#calendar {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 375px;
  margin: 0 auto;
  height: 100%;
  box-shadow: 1px 1px 20px #888888;
}

.header {
  height: 50px;
  width: 370px;
  text-align: center;
  position: relative;
  z-index: 100;
}

.header h1 {
  text-transform: uppercase;
  color: #10416C;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}

.left,
.right {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}

.week-title-item {
  color: #10416C;
  display: inline-block;
  width: 63px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  z-index: 100;
}

.week-title-item:first-child,
.week-title-item:last-child {
  color: #6A6A6A;
  width: 30px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn .5s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
  border-top: 1px solid #EEEEEE;
}

.week:last-child {
  border-bottom: 1px solid #EEEEEE;
}

.day {
  display: inline-block;
  width: 63px;
  height: 51px;
  text-align: right;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  z-index: 100;
  border-right: 1px #EEEEEE solid;
  color: #10416C;
}

.day:hover {
  background: #E8EEF3;
}

.week .day:first-child {
  border-left: 1px #EEEEEE solid;

}

.week .day:first-child,
.week .day:nth-child(7n+0) {
  width: 30px;
  color: #6A6A6A;
  background: #F6F6F6;
}

.day.other {
  color: #A5A5A5;
}

.day.today {
  background: #E8EEF3;
}

.day-number {
  margin: 5px 5px 0 0;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.day .day-events {
  list-style: none;
  margin: 5px 5px 0 0;
  text-align: right;
  height: 12px;
  line-height: 5px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin: 0 1px;
}

.gray {
  background: rgb(135, 143, 148);
}

.orange {
  background: rgba(247, 167, 0, 1);
}

.green {
  background: rgba(153, 198, 109, 1);
}

.red {
  background: rgb(230, 64, 64);
}

.details {
  position: absolute;
  width: 375px;
  background: white;
  margin-top: 5px;
  z-index: 999999;
  box-shadow: 1px 1px 5px #888888;
  color: #10416C;
  border: 1px solid #10416C;
  display: block;
}
.details.in {
	-webkit-animation: fadeIn .5s ease both;
	-moz-animation: fadeIn .5s ease both;
	animation: fadeIn .5s ease both;
  }

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all .7s ease;
}

.events {
  height: auto;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.event {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event-category {
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event-caregory-text {
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	padding: 0 10px;
}

.event-details-text {
	margin-top: 10px;
}

.event span {
  display: inline-block;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;

}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: .3;
    height: 0;
    margin-top: 0;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    height: 0;
    margin-top: 0;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    height: 0;
    margin-top: 0;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToTopFade {
  to {
    opacity: .3;
    height: 0;
    margin-top: 0;
    opacity: .3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    height: 0;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    height: 0;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(.95);
  }
}
@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(.95);
  }
}
@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(.95);
  }
}
@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(.95);
  }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
@-moz-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0;
    height: 0;
  }
}
